body {
    background-color: ivory;
    text-align: left;
    margin: 0;
}
#contact {
    text-align: right;
}
.accent {
    color: darkcyan;
}
h1, #contact {
    background-color: wheat;
    color: dimgray;
}
h1 {
    position: relative;
}
h2 {
    position: relative;
}