/* 
   Keith's Personal Website 
   Filename: styles.css
   Author:  Keith Teo Hong Wei
 */

/* reset styles */
html {
   font-size: 80%;
}
article, body, div, figure, footer, header, h1, h2, img, nav, p {
   border: 0;
   padding: 0;
   margin: 0;
}

/* body and page container */
body {
   font-family: Verdana, Geneva, sans-serif;
   background-color: rgb(255, 255, 255);
}
body figure{
  position: fixed;
  margin: 2%;
}
p {
   font-size: 150%;
}

/* header section */
header {
  max-width: 100%;
   padding: 1% 5%;
   text-align: center;
   background: url("images/myself.jpg");
   background-size: auto;
   background-attachment: fixed;/*makes the background fit the whole screen regardless of the zoom of the page and fixed it in place to have the scrolling effect*/
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   font-family: "Playfair Display", Georgia, "Times New Roman", Times, serif;
   font-weight: 900;
   overflow: auto;
}
header h1 {
   width: 100%;
   margin-top: 1%;
   font-size: 200%;
   color: rgb(255, 255, 255);
   text-shadow: 4px 4px 15px rgb(0, 0, 0);
   text-transform: uppercase;
   letter-spacing: 3px;
}
header h1:first-letter{
  font-size: 150%;
}

/* site navigation */
nav.sitenavigation {
   background-color: rgb(31, 52, 109);
   overflow: auto;
}
nav.sitenavigation div {
   width: 100%;
   text-align: center;
}
nav.sitenavigation p {
   margin: 0 0.3em;
   padding: 0.1em;
   display: none;
   font-size: 2em;
}
nav.sitenavigation p:first-letter {
  font-size: 1.5em;
}
nav.sitenavigation a:link {
   text-decoration: none;
   color: rgb(255, 255, 255);
}
nav.sitenavigation a:visited {
   color: #c6e2f1;
}
nav.sitenavigation a:hover, nav.sitenavigation a:focus, .current {
   color: rgb(255, 255, 255);
   font-weight: bold;
   background-color: rgb(75, 110, 156);
   padding: 0.6em 0.8em 0.2em;
   border-radius: 0.5em;
}
nav.sitenavigation a:active {
  background-color: rgb(77, 69, 189);
  padding: 0.8em 0.7em 0.2em;
  font-size: 0.9em;
}
.navigation-menu-button {
  display: block;
}

/* main content */
article {
   max-width: 100%;
   padding: 4%;
   background: url("images/physicsbackground.jpg"); /*https://www.dreamstime.com/stock-illustration-seamless-illustration-topic-physics-dark-outline-white-background-pattern-formulas-graphs-equipment-as-image73140356*/
}
article div.container {
   padding: 1%;
   background-color: rgb(255, 245, 239);
   border: 1px solid rgb(0, 0, 0);
   border-radius: 50px;
}
article h2 {
   margin: 1% 0 1% 2%;
   font-family: "Playfair Display", Georgia, "Times New Roman", Times, serif;
   font-weight: 900;
   font-size: 240%;
   text-transform: capitalize;
}
article h2:first-letter{
  font-size: 130%;
}
article p {
   max-width: 100%;
   margin: 1% 2% 1% 5%;
   font-size: 150%;
   line-height: 1.2em;
}
article p:first-letter{
  font-size: 1.2em;
}
article span {
   font-weight: bold;
   font-size: 1.2em;
}
article figure {
  margin: 2% 0 1% 5%;
  position: relative;
}
article figcaption {
  font-size: 100%;
  margin: 1% 0;
}

/* footer section */
footer {
  float: right;
  background-color: rgb(31, 52, 109);
  padding: 1% 15% 1% 100%;
}
footer h2{
  font-size: 120%;
  color: rgb(255, 197, 158);
}
footer p{
  font-size: 90%;
  background-color: red;
  width: 140%;
  color: rgb(255, 255, 255);
}

/* print styles */
@media print {
   body, h1, article, footer {
      background-color: rgb(255,255,255);
   }
   body {
      max-width: 100%;
   }
   nav {
      display: none;
   }
}
@media screen and (min-width: 1200px) {
  responsive {
    width: 100%;
    height: auto;
  }
  header {
    padding: 18%;
  }
  header h1 {
    font-size: 350%;
}
@media screen and (min-width: 950px) {
  nav.sitenavigation p {
    display: inline-block;
  }
  div.navigation-menu-button {
    display: none;
  }
  responsive {
    width: 100%;
    max-width: 40px;
    height: auto;
  }
}
@media screen and (min-width: 480px) {

}
@page {
   margin: 0.75in;}
}